@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">SalesRecord</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mx-auto d-flex flex-column justify-content-center border border-primary p-5 mt-4">
                <h4 class="mt-0 text-center">Особистий кабінет</h4>
                <form method="post">
                    <div class="form-group mt-4">
                        <label for="firstName" style="color: black;">Ім'я'</label>
                        <input type="text" class="form-control" id="FirstName" name="firstName" readonly>
                    </div>
                    <div class="form-group mt-4">
                        <label for="lastName" style="color: black;">Прізвище</label>
                        <input type="text" class="form-control" id="LastName" name="lastName" readonly>
                    </div>
                    <div class="form-group mt-4">
                        <label for="email" style="color: black;">Email</label>
                        <input type="email" class="form-control" id="Email" name="email" readonly>
                    </div>
                    <div class="form-group mt-4">
                        <label for="password" style="color: black;">Пароль</label>
                        <input type="password" class="form-control" id="Password" name="password" readonly>
                    </div>
                    <div class="form-group text-center mt-4">
                        <a href="/EditProfile" class="btn btn-primary mx-auto">Изменить профиль</a>
                        <a href="/ChangePassword" class="btn btn-primary mx-auto">Изменить пароль</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>