@model Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">SalesRecord</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto d-flex flex-column justify-content-center border border-primary mt-4 p-5">
                <h4 class="mt-0 text-center">Вхід в акаунт</h4>
                <form method="post" asp-validation-summary="All">
                    <div class="form-group mt-4">
                        <label asp-for="Email" style="color: black;">Email</label>
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Введіть ваш email" name="Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="Password" style="color: black;">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Введіть ваш пароль" name="Password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-primary mx-auto">Увійти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>