@model CreateAccountModel
@{
    
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Register</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Register", "Home")">PAccount</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Увійти</a>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center mt-4">ЛАСКАВО ПРОСИМО В ДОДАТОК З ОБЛІКУ ПРОДАЖІВ СПОРТИВНИХ ТОВАРІВ ДЛЯ БАСКЕТБОЛУ!</h1>
        <p class="text-center mt-4">
            Наш додаток розроблено спеціально для спортивних магазинів, які спеціалізуються на продажу товарів для баскетболу. Ми знаємо, як важливо мати ефективний інструмент для обліку продажів і управління запасами, щоб ваш бізнес міг розвиватися і рости.</p>
        <p class="text-center mt-4">Додаток дає змогу зручно та легко відстежувати продажі товарів для баскетболу, проводити аналіз продажів і керувати запасами. Ви можете створювати замовлення для ваших клієнтів, відстежувати їх виконання, контролювати залишки товарів на складі та дивитися звіти з продажу.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto d-flex flex-column justify-content-center border border-primary p-5">
                <h4 class="mt-0 text-center">Реєстрація</h4>
                <form method="post" asp-validation-summary="All" action="@Url.Action("Index", "Home")">
                    <div class="form-group mt-4">
                        <label asp-for="FirstName" style="color: black;">Ім'я</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Введіть ваше ім'я" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="LastName" style="color: black;">Фамілія</label>
                        <input asp-for="LastName" class="form-control" placeholder="Введіть ваше прізвище" required>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="Email" style="color: black;">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Введіть ваш email" required>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="Password" style="color: black;">Пароль</label>
                        <input asp-for="Password" class="form-control" placeholder="Введіть пароль" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-primary mx-auto">Зареєструватися</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>