@{
    ViewData["Title"] = "Склад";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <title>Main Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">PAccount</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Warehouse", "Nav")">
                            Склад
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Report", "Nav")">Учет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <a href="@Url.Action("Client", "Account")" class="btn btn-secondary my-2 my-sm-0">Аккаунт</a>
            </div>
        </div>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Назва</th>
                <th scope="col">Категорія</th>
                <th scope="col">Ціна</th>
                <th scope="col">Кількість</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Кроссовки</th>
                <td>Обувь</td>
                <td>4300грн.</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
</body>
</html>